PROJECT_NAME=

MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

PMA_USER=
PMA_PASSWORD=

SPRING_DATASOURCE_HOST=
SPRING_DATASOURCE_TABLE=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_MAIL_PROTOCOL=
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=
SPRING_MAIL_AUTH_ENABLE=
SPRING_MAIL_SMTP_TTLS_ENABLE=
SPRING_MAIL_FROM=

JWT_SECRET=
SPOTIFY_API_CLIENT_ID=
SPOTIFY_API_CLIENT_SECRET=
SPOTIFY_API_CLIENT_REDIRECT=

GITHUB_CLIENT_ID=d2b45fb4c6e4f16e74da
GITHUB_CLIENT_SECRET=cb85daba8be5550b6718ea21df842fa2c3054a4a

CURRENCIES_API_USERNAME=
CURRENCIES_API_PASSWORD=

WEATHER_API_KEY=
YOUTUBE_API_KEY=

